@charset "utf-8";

/* CSS Document */
@import "about.css";

#main {
	height: 512px;
}

#main #left_menu {
	height: 512px;
}

#main_right {
	height: 512px;
}

#main_right .right_content {
	height: 499px;
}

#main_right .right_content .content_p {
	color: #4d6886;
	margin-top: 40px;
	width: 736px;
}

#right_map {
	float: left;
	width: 431px;
	height: 296px;
	border: 3px solid #000;
	margin-left: 22px;
}

#right_img {
	height: 302px;
	width: 295px;
	float: left;
	margin-left: 5px;
}

#main_right .right_content img {
	border: none;
	margin-left: 0;
	margin-top: 0;
}

#right_img img {
	margin-bottom: 20px;
}