<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 定时批处理任务 -->

	<!-- 更新天气预报 -->
	<bean id="weatherUpdateService" class="ula.quartz.service.WeatherUpdateService">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="weatherUpdateJob" class="ula.quartz.job.WeatherUpdateJob">
		<property name="weatherUpdateService" ref="weatherUpdateService" />
	</bean>

	<bean id="weatherUpdateJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="weatherUpdateJob" />
		<property name="targetMethod" value="execute" />
	</bean>

	<!-- 每30分钟自动更新一次 -->
	<bean id="weatherUpdateJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="weatherUpdateJobDetail" />
		<property name="cronExpression" value="0 0/30 * * * ?" />
	</bean>


	<!-- 发送订阅资源  -->
	<bean id="sendResourceService" class="ula.quartz.service.SendResourceService">
		<property name="interval" value="100" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="sendResourceJob" class="ula.quartz.job.SendResourceJob">
		<property name="sendResourceService" ref="sendResourceService" />
	</bean>

	<bean id="sendResourceJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="sendResourceJob" />
		<property name="targetMethod" value="execute" />
	</bean>

	<!-- 每20分钟自动执行一次 -->
	<bean id="sendResourceJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="sendResourceJobDetail" />
		<property name="cronExpression" value="0/20 * * * * ?" />
	</bean>

	<!-- 总任务管理器 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
		lazy-init="false" autowire="no">
		<property name="triggers">
			<list>
				<ref bean="weatherUpdateJobTrigger" />
				<ref bean="sendResourceJobTrigger" />
			</list>
		</property>
	</bean>
</beans>